html{
    box-sizing: border-box;
    /* font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: url(IMG/1701046237888-new.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.intro img{
    top: 170px;
    position: absolute;
    width: 24vw;
}

.intro p{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    margin-top: 10px;
}

.logo{
    /* margin-top: 150px; */
    /* width: 100vw; */
    font-size: 2rem;
    color: #fff;
}

.logo-parts{
    
    position: relative;
    display: inline-block;
    bottom: -10px;
    opacity: 0;
}

.logo-parts.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo-parts.fade{
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out .5s;
}

.content{
    width: 100%;
    /* padding: 50px; */
    /* font-size: 2rem; */
}




/* .home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
} */

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1040px){
    /* header{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        transition: 0.5s ease;
    } */

    .home .media-icons{
        right: 15px;
    }
    
}