.contact-page-info{
    color: #3b3b3b;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 1.4vw;

}

.contact-page-info:hover{
    color: gray;
}

.my-submit-btn{
    border-radius: none;
}



/* MEDIA QUERY */
@media(min-width:0px) and (max-width:576px) {
    .contact-page-info{
        font-size: 5vw;
    }
}

@media (min-width:577px) and (max-width:767px) {
    .contact-page-info{
        font-size: 4.2vw;
    }
}


@media (min-width:768px) and (max-width:991px) {
    .contact-page-info{
        font-size: 3vw;
    }
}


@media (min-width:992px) and (max-width:1199px) {
    .contact-page-info{
        font-size: 1.8vw;
    }
}


@media (min-width:1200px) and (max-width:1399px) {}


@media (min-width:1400px) {
    .contact-page-info{
        font-size: 1.5vw;
    }
}