footer {
    margin-top: 100px;
    background: url(../IMG-2/footer-big.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.fa-brands {
    font-size: 2vw;
}

.name {
    font-family: 'Charm', cursive;
    font-size: 3.3vw;
}

.prof {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7vw;
}


/* MEDIA QUERY */
@media(min-width:0px) and (max-width:576px) {
    footer {
        background: url(../IMG-2/footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
    }

    .name {
        font-size: 9vw;
    }

    .prof {
        font-size: 5vw;
    }

    .fa-brands {
        font-size: 6vw;
    }
}

@media (min-width:577px) and (max-width:767px) {
    footer {
        background: url(../IMG-2/footer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: max-content;
    }

    .name {
        font-size: 8vw;
    }

    .prof {
        font-size: 4vw;
    }

    .fa-brands {
        font-size: 5vw;
    }
}


@media (min-width:768px) and (max-width:991px) {
    .name{
        font-size: 5.5vw;
    }

    .prof{
        font-size: 2.5vw;
    }

    .fa-brands{
        font-size: 3vw;
    }
}


@media (min-width:992px) and (max-width:1199px) {}


@media (min-width:1200px) and (max-width:1399px) {}


@media (min-width:1400px) {}